<nav>
    <div class="fixed-top teal lighten-2 " >
      <a class="navbar-brand" routerLink="home">
        <img src="https://cdn-icons-png.flaticon.com/512/3124/3124676.png" alt="image" width="60" height="50">
      </a>
      <a routerLink="home" class="brand-logo">MASCOTA FELIZ</a>
      <a routerLink="home" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="empresa/quienes-somos">Acerca de</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-usuario">Listar Usuarios</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-mascota">Listar Mascotas</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-plan">Listar Planes</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-sucursal">Listar Sucursales</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="user/registro">Registrarse</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="seguridad/login">Iniciar sesion</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="seguridad/cerrar-sesion">Cerrar sesion</a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="home">Home</a></li>
        <li><a routerLink="empresa/quienes-somos">Acerca de</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-usuario">Listar Usuarios</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-mascota">Listar Mascotas</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-plan">Listar Planes</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="admin/listar-sucursal">Listar Sucursales</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="user/registro">Registrarse</a></li>
        <li *ngIf="!seInicioSesion"><a routerLink="seguridad/login">Iniciar sesion</a></li>
        <li *ngIf="seInicioSesion"><a routerLink="seguridad/cerrar-sesion">Cerrar sesion</a></li>
  </ul>
  

